name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.0"

      - name: Run tests
        run: |
          make test TEST_GH_ACTIONS_OUTPUT=true

  # test-e2e:
  #   runs-on: ubuntu-latest

  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: Run e2e tests
  #       run: |
  #         make e2e-test TEST_GH_ACTIONS_OUTPUT=true
